@media(min-width: 768px){
    .main-visual {
        display: flex;
        gap: 20px;
    }
    .main-visual a{
        flex: 1;
        display: block;
    }
    .main-visual img {
        width: 100%;
        min-height: 100%;
        height: auto;
        object-fit: cover;
    }
}
@media(max-width: 767px){
  
    
    .header-list-right ul{
        display: none;
    }
    .main-visual {
        flex-direction: column;
        gap: 10px;
    }
    .main-visual a img {
        width: 75%;
        height: auto;
        display: block;
        margin: 0 auto;
    }
}