@media(min-width: 768px){
    .main-visual {
        display: flex;
        gap: 20px;
    }
    .main-visual a{
        flex: 1;
        display: block;
    }
    .main-visual img {
        width: 100%;
        min-height: 100%;
        height: auto;
        object-fit: cover;
    }
}
@media(max-width: 767px){
  
    
    .header-list-right , .header-list-left {
        display: none;
    }
    .hamburger{
        display: block;
    }
    .main-visual.slider{
        margin-top: 56px;
    }
    .news.slider.slide{
        font-size: 13px;
    }

}