body{
    padding: 20px;
}
.header{
    height: 70px;
    background-color: #fff;
    border-bottom: #1e1c1c 1px solid;
    display : flex;
    width: 100%;
}
.header-title h1{
    font-size: 40px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
    margin: 0;
}
.header-list-left ul{
    display: flex;
}
.header-list-left ul li{
    margin-left: 20px;
    list-style: none;
    font-size: 16px;
}
.header-list-left ul li a{
    text-decoration: none;
    color: #333;
}
.header-list-left ul li a:hover{
    color: #1f54da;
    transition: 0.3s;
}
.header-list-right ul{
    display: flex;
}
.header-list-right ul li{
    margin-left: 20px;
    list-style: none;
    font-size: 16px;
}
.header-list-right ul li a{
    text-decoration: none;
    color: #333;
}
.main-visual {
    display: flex;
    gap: 20px;
}
.main-visual a{
    flex: 1;
    display: block;
}
.main-visual img {
    width: 100%;
    min-height: 100%;
    height: auto;
    object-fit: cover;
}
.news{
    margin-top: 20px;
    border-bottom: #1e1c1c 1px solid;
}
.news h2{
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}
.news ul{
    list-style: none;
}
.news ul li{
    margin-bottom: 5px;
    text-decoration: none;
}
.news ul li a{
    text-decoration: none;
    color: #333;
}
.news ul li a:hover{
    color: #1f54da;
    transition: 0.3s;
}
.footer-link ul{
    list-style: none;
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.footer-link ul li a{
    text-decoration: none;
    color: #333;
}
.footer-link ul li a:hover{
    color: #1f54da;
    transition: 0.3s;
}
.footer-logo img{
    width: 50px;
    height: auto;
    margin-left: 10px;
}
.footer-copyright{
    font-size: 14px;
    color: #666;
    padding: 20px 0;
}
   