header{
    background-color: lightgray;
    padding: 10px 0;
    text-align: center;
}
nav ul{
    display: flex;
    gap: 20px;
    padding-left: 0;
    justify-content: center;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    font-family: sans-serif;
}
article a img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}